body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
nav{
    background: #a29bfe;
}
.round{
    border-radius: 20px !important;
    width: 400px;
}

footer{
    background:#a29bfe;
}

